/* Login.module.css */

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: gray;
  width: 100%;
 
}
.cuerpo {
  min-width: 150px;
  width: 30%;
  height: 250px;
  background-color: aqua;
  border-color: black;
  border-radius: 10px;
}
.cuerpo .Card
{
  background-color: blueviolet;
}

.card h2{
  width: 100%;
  color: blue;
  text-align: center;
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
  
  
  
}

.bg-login-image {
  height: 100vh;
  background-size: cover;
  background-position: center;
}
.cardheader{
  background-color: chocolate;
  color: blue;

}

.cardbody {
  padding: 0;
  border-color: blueviolet;
  width: 100%;
  
}

.card-body .row {
  height: 100%;
  
}

.card-body .col-lg-6 {
  padding: 5rem;
  display: flex;
  align-items: center;
}

.card-body .col-lg-6 .p-5 {
  width: 100%;
}

.text-center {
  margin-bottom: 1.5rem;
}

.form-group {
  margin-bottom: 1.5rem;
}

input {
  width: 100%;
  padding: 1rem;
  margin-bottom: 1.5rem;
  border: 1px solid red; /* Añadido para mejorar el aspecto del input */
}

button {
  width: 100%;
  padding: 1rem;
  background-color: red;
  color: #fff;  
  border: none;
  cursor: pointer;
}

hr {
  margin: 2rem 0;
}
