/* Menu.module.css */
.menuContainer {
  position: fixed;
  top: 10px;
  left: 10px;
  z-index: 1000;
}

.toggleButton {
  background-color: #033a71;
  border: 1px solid black;
  padding: 5px 10px;
  font-size: 20px;
  cursor: pointer;
}

.offcanvas {
  width: 200px;
}

/* Hacerlo responsive */
@media (max-width: 576px) {
  .offcanvas {
    width: 100%; /* Cambia el ancho a 100% en dispositivos con un ancho de pantalla de 576px o menos */
  }
}

/* Add more styles to customize the appearance */
